<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add providerName="System.Data.SqlClient" connectionString="Server=DBTEST01;Database=laterooms;User ID=developer;Password=creat10n;connection timeout=30;Trusted_Connection=false" name="TLRG.Currency.API" />
  </connectionStrings>
  <appSettings>
    <add key="cacheExpireMinutes" value="10" />
    <add key="cacheEnabled" value="true" />
  </appSettings>
</configuration>